# do not check in bundled js+css
dist/*
dev-dist/*
!dev-dist/index.html
!dist/index.html

# do not check in node packages
node_modules

# for local development
log
todo.md

# secrets
.env

# strays
.DS_Store

